
  <link rel="stylesheet" href="../static/css/index.css">

  <div class="container">
    <div id="messages"></div> <!-- Контейнер для сообщений от сервера -->

    <div class="main_content">
      <div class="side_bar">
        <button id="getCookiesButton" onclick="getCookies()">Get Cookies</button>
        <button id="loadCookiesButton" onclick="loadCookies()">Load Cookies</button>
        <button id="refreshBrowsersButton" onclick="refreshBrowsers()">Get Browsers</button>
        <button id="openBrowserButton" onclick="openBrowser()">Open Browser</button>
        <button id="closeBrowserButton" onclick="closeBrowser()">Close Browser</button>
        <button id="getTitleButton" onclick="getTitle()">Get Browser Title</button>
        <button id="toggleHeadlessButton" onclick="toggleHeadless()">Toggle Headless</button>
        <button id="startWorkerButton" onclick="startWorker()">Start Worker</button>
        <button id="stopWorkerButton" onclick="stopWorker()">Stop Worker</button>
        <button id="stopWorkerButton" onclick="LoadB()">Stop Worker</button>
        <button type="button" onclick="loadPage('login.html')">Logout</button>
      </div>
      <div class="info_bar">
        <div id="browserList"></div>
      </div>
    </div>
    
  </div>

