<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ozon Moderation</title>
</head>
<body>
  <h1>Ozon Moderation</h1>
  <button id="getCookiesButton" onclick="getCookies()">Get Cookies from Server</button>
  <button id="loadCookiesButton" onclick="loadCookies()">Load Cookies to Server</button>
  <div id="browserList"></div>
  <button id="refreshBrowsersButton" onclick="refreshBrowsers()">Refresh Browsers</button>
  <button id="pingButton" onclick="pingServer()">Ping Server</button>
  <button id="openBrowserButton" onclick="openBrowser()">Open Browser</button>
  <button id="closeBrowserButton" onclick="closeBrowser()">Close Browser</button>
  <button id="getTitleButton" onclick="getTitle()">Get Browser Title</button>
  <button id="toggleHeadlessButton" onclick="toggleHeadless()">Toggle Headless</button>
  <button id="startWorkerButton" onclick="startWorker()">Start Worker</button>
  <button id="stopWorkerButton" onclick="stopWorker()">Stop Worker</button>
  <div id="messages"></div> <!-- Контейнер для сообщений от сервера -->
  <script src="app.js"></script>
</body>
</html>
